.members.control_panel {
  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  #applets {
    .applet {
      background-color: rgba($samfundet-light-grey, 0.3);
      text-align: center;
      padding: 20px;
      margin-bottom: 20px;

      @include span-columns(12);

      @include media($tablet-portrait) {
        @include span-columns(6 of 12);
        @include omega(2n);
      } 

      @include media($tablet-desktop) {
        @include span-columns(4 of 12);
        @include omega(3n);
      }

      ul {
        padding-left: 0;
        list-style-type: none;
      }

      h2 {
        text-transform: uppercase;
        margin: 0;
      }

      p {
          margin: 16px 0;
      }

      input[type=text] {
        padding: 10px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
    }
  }
}
