# Git will ensure Unix line endings (LF only) in the repo for these file types
# When checking out files into your working directory, they will be converted
# depending on your core.eof setting (the default is 'native' which gives you
# LF on Unix and CRLF on Windows
*.css       text
*.erb       text
*.feature   text
*.haml      text
*.html      text
*.js        text
*.markdown  text
*.opts      text
*.php       text
*.rake      text
*.rb        text
*.ru        text
*.scss      text
*.sql       text
*.svg       text
*.txt       text
*.yml       text

# Git won't touch these files
*.gif       binary
*.ico       binary
*.jpg       binary
*.png       binary
*.psd       binary

# For all other file types, Git will try to guess what to do
*           text=auto
