.pages {
    .form {
        .pages-input {
            @include span-columns(12);

            @include media($not-mobile) {
                @include span-columns(6 of 12);
            }
        }

        .pages-preview {
            display: none;

            @include media($not-mobile) {
                display: block;

                @include span-columns(6 of 12);
                @include omega();
            }
        }

        .pages-submition {
            @include span-columns(12);
            @include omega();
        }

        .preview-container {
            height: 500px;
            margin-bottom: 1em;
            overflow: scroll;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 3px;
            text-transform: none;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .body {
            .form-content-header {
                font-size: 2em;
                margin: 0.67em 0;
                padding: 0.1em 0.27em;
                border-top: 1px dotted #000;
                border-bottom: 1px dotted #000;
            }

            .form-content-content {

            }
        }

        h1 {
            margin: 0;

            @include media($tablet-desktop) {
                padding: 15px 0;
            }
        }
    }

    fieldset {
        display: block;
        border: none;
        text-transform: none;

        ol {
            list-style-type: none;
            padding-left: 0;
        }

        label {
            display: block;
            margin-top: 1em;
            width: 100%;
        }

        input, textarea {
            display: block;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 3px;
            width: 100%;
            resize: none;
        }
    }
}
