.pages, .documents {
    font-weight: 300;

    .menu-button {
        display: block;
        padding: 10px;
        background-color: $samfundet-red;
        color: white;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        @include span-columns(12);
        @include media($tablet-desktop) {
            display: none;
            background-color: transparent;
        }
    }

    .show-menu-content {
        display: block !important;
    }

    .content {

        @include span-columns(12);
        @include omega();
        @include media($tablet-desktop) {
            padding: 0 1.7em;
            @include span-columns(8.5 of 12);
        }

        h1 {
            color: $samfundet-red;
            margin: 0;
            padding-top: 15px;
            text-transform: uppercase;
            font-weight: 300;

            &:first-child {
                padding-top: 0;
            }

            @include media($mobile-and-tablet-portrait) {
                font-size: 30px;
            }
        }

        p {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

}
