- set_title t("applicant_sessions.new.title")

= render 'admissions/admission_header'

= render 'applicants/form', applicant: @applicant, redirect_to: @redirect_to

.login-form
  = render 'applicant_sessions/form', applicant_login_email: @applicant_login_email, redirect_to: @redirect_to
