.section
  %h2
    = set_and_return_title t("applicants.password_recovery.forgot_password")
  %p
    = t("applicants.password_recovery.help_text")
  %form{ action: generate_forgot_password_email_path, method: "post", class: "formtastic applicant"}
    = hidden_field_tag :authenticity_token, form_authenticity_token
    %fieldset{ class: "inputs" }
      %ol
        %li{ class: "string optional" }
          %label Epost
          %input{ type: "text", name: "email" }
    %fieldset{ class: "buttons" }
      %ol
        %input{ type: "submit", value: t("applicant_sessions.forms.login.forgot_password") }
