$samfundet-red: #A03033;
$samfundet-yellow: #CED649;
$samfundet-purple: #512D44;
$samfundet-blue: #5F6C9F;
$samfundet-orange: #E87511;
$samfundet-green: #27ae60;
$samfundet-light-grey: #eeeeee;
$samfundet-medium-grey: #aaa;
$samfundet-dark-grey: #333333;
$samfundet-black: #111;
$samfundet-white: white;
