.ribbon-image-wrapper {
  position: relative;

  .ribbon-text-wrapper {
    width: 185px;
    height: 188px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;

    .ribbon {
      @include transform(rotate(45deg));

      font-size: 21px;
      color: #FFFFFF;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      padding: 11px 0;
      left: -8px;
      top: 47px;
      width: 250px;

      &.red {
        background-color: $samfundet-red;
      }

      &.blue {
        background-color: $samfundet-blue;
      }
    }
  }
}
