.section
  %h2= set_and_return_title t('admissions_admin.statistics_page_title', admission: @admission.title)
  %p= t('admissions_admin.summary',
        admission: @admission.title,
        applications: @admission.job_applications.count,
        jobs: @admission.jobs.count)
  %p
    %figure
      %figcaption= t('admissions_admin.applications_by_group')
      %img{ src: @applications_per_group_chart }
  %p
    %figure
      %figcaption= t('admissions_admin.applications_by_day')
      %img{ src: @applications_per_day_chart }
