.documents {
    table {
        @extend .table-highlight-rows !optional;

        tr.category {
            font-weight: bold;
        }

        tr.empty {
            color: gray;
            font-style: italic;
        }
    }
}
