- cache cache_key_for_events_index(@events) do
  = render 'search_form'

  .ajax-search

  .upcoming-events
    - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
      .event-group
        %h2= l(date, format: :medium_long)
        %table.custom-table
          %tbody
            = render events.sort_by{|event| event.start_time}

  .links
    %a.rss-icon{ href: '/rss', title: t('events.rss_alt_text')}
    %a.ical-icon{ href: '/arrangement/ical', title: t('events.ical_alt_text')}
    %a.archive-icon{ href: archive_events_path, title: t('events.archive.title')}    
