= javascript_include_tag :linkgraph, defer: true

:css
  .node {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  .link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1.5px;
  }
  .node>text {
    fill: #000;
    stroke: none;
    font: 12px sans-serif;
    pointer-events: none;
  }
  #d3js-graph > svg{
    border-color: #000;
    border-style: solid;
    border-width: 2px;
  }


:javascript
  graph_data=#{@data.to_json}

%p.new
  = link_to t("pages.admin"), admin_pages_path

%p
  = t("pages.graph_explenation")

#d3js-graph
