%video{controls: true, id: 'video', preload: 'auto', width: '100%', src: 'http://cirkus.samfundet.no:9094/samfundet.mp4'}
  %source{src: 'http://cirkus.samfundet.no:9094/samfundet.mp4', type: 'video/mp4'}
