.events.purchase_callback_success {
    table {
        @extend .table-highlight-rows;

        tfoot tr {
            td:first-child {
                text-align: right;
            }
        }
    }
}

.events.edit, .events.new {
    .image-preview {
        max-width: 100%;
    }
}

.event-edit {
    h3 {
        text-align: center;
        margin-bottom: 10px;
    }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.events.show {
    .event-image {
        @include autoscale-picture(200px);
        @include media($tablet-desktop) {
            @include autoscale-picture(400px);
        }
    }

    .mobile-banner {
        @include media($tablet-desktop) {
          display: none;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 20pt;
            color: $samfundet-red;
            text-transform: uppercase;
            text-align: center;
        }

        .banner-image {
            @include autoscale-picture(200px);
        }
    }

    .description {
        @include media($tablet-desktop) {
            @include shift(2);
            @include span-columns(8);
            @include shift(2);
        }

        .description-short {
          font-weight: 500;
        }

        .description-long {
          font-weight: lighter;
          margin-bottom: 20px;
        }

        p.adaptation {
          font-weight: 500;
        }

        .social {
            text-align: center;
            margin-top: 20px;

            .social-sites {
                @include span-columns(12);
                margin-bottom: 1em;

                .social-element {
                    list-style-type: none;
                    text-align: center;

                    li {
                        padding: 0 0.5em;
                        display: inline;
                    }
                }

                #social-link {
                    img {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
            .spotify-box {
                @include span-columns(12);
            }
        }
    }

    .details {
      @include span-columns(12);

      table {
        margin: 15px auto;
        border-spacing: 0;

        tr {
          td {
            text-transform: uppercase;
            padding: 5px 8px;

            &:first-child {
              font-weight: lighter;
              border-right: 1px solid #333;
            }

            &:last-child {
              font-weight: 500;
            }
          }
        }
      }
    }

    .show-purchase-button {
      text-align: center;
    }
}

.events {
    .ajax-search {
        display: none;
    }

    .search-results h3 {
        @include media($mobile-and-tablet-portrait) {
            display: none;
        }
    }

    .links {
      text-align: center;
      a {
        display: inline-block;

        margin: auto;
        padding: 40px;

        height: 40px;
        width: 40px;

        background-position: center; 
        background-repeat: no-repeat;
        background-size: 40px;

        &.rss-icon {
          background-image: url(rss.svg);
        }

        &.ical-icon {
          background-image: url(calendar.svg);
        }
        
        &.archive-icon {
          background-image: url(archive.svg);
        }
      }
    }

    .event-group {
        margin-bottom: 40px;

        @include span-columns(12);

        h2 {
            color: $samfundet-red;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #333;
            padding-bottom: 5px;
            margin-bottom: 10px;

            @include media($tablet-desktop) {
                text-align: left;
                border-bottom: none;
                font-size: 30px;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                td {
                    padding: 10px;
                    text-align: center;

                    @include media($mobile-and-tablet-portrait) {
                        &:first-child { padding-left: 0; }
                        &:last-child { padding-right: 0; }
                    }

                    &.event-title {
                        width: 34%;
                        text-align: left;
                    }

                    &.event-title a, &.event-area a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: $samfundet-black;
                        font-weight: 300;
                    }

                    &.event-area-start-time {
                        width: 33%;

                        @include media($tablet-desktop) {
                            display: none;
                        }
                    }

                    &.event-start-time, &.event-price {
                        font-weight: lighter;
                    }

                    &.event-area, &.event-start-time, &.event-price {
                        display: none;

                        @include media($tablet-desktop) {
                            display: table-cell;
                            width: 16%;
                        }
                    }

                    &.event-buy {
                        width: 33%;
                        @include media($tablet-desktop) {
                            width: 16%;
                        }
                    }

                    & + td {
                        border-left: 1px solid #333;

                        @include media($tablet-desktop) {
                            &:last-child {
                                border-left: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
