= t('applicants.password_recovery.email_message',
    name: @applicant.full_name,
    reset_link: password_reset_link(email: @applicant.email,
                                    recovery_hash: @applicant.password_recoveries.last.recovery_hash)).html_safe
