/* Admissions module */

// No admissions
#no-admissions {
  text-align:center;
  padding: 30px 0 0;
  h2 {
    margin:0 0 20px;
  }
  p {
    font-size: 1.7em;
  }
}

// Header banner
#admission-header {
  position: relative;
  width: 960px;
  height: 200px;
  border: none;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    @include border-radius; }
  h3,h4 {
    color: white;
    position: absolute;
    //font-weight: normal
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px; }
  h3 {
    top: 20px;
    left: 15px;
    font-size: 4em; }
  h4 {
    top: 80px;
    left: 15px;
    font-size: 2em; }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 920px;
    padding: 20px;
    font-size: 1em;
    @include border-radius;
    background: rgba(0, 0, 0, 0.7);
    color: #ddd;
    p {
      width: 49%;
      margin: 0;
      float: left;
      &.right {
        float: right; } } } }

// Groups with jobs
#groups-with-jobs {
  ul {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.1em;
    line-height: 3;
    li {
      display: inline;
      a {
        display: inline-block;
        padding: 6px 7px;
        &:hover {
          background: #eeeeee; } } } } }

// Positions tables
.flash-success {
  margin-bottom: 40px; /* Compensates for negative margin on promo div below */ }
table {
  td {
    overflow: hidden; }
  td.title {
    font-weight: bold;
    width: 300px;
    padding: 5px 10px 5px 5px; }
  td.group {
    width: 150px;
    padding: 5px 10px 5px 10px;
    a {
      color: #444444; } }
  td.teaser {
    padding: 5px 0 5px 5px;
    font-size: 0.9em;
    color: $light; } }

.job_applications {
  table thead th {
    text-align: left; } }

.sortable tr:first-child .up {
  visibility: hidden; }

.sortable tr:last-child .down {
  visibility: hidden; }

.sortable.loading .up, .sortable.loading .down {
  visibility: hidden; }

.job_applications .priority {
  font-size: 130%;
  padding-left: 15px;
  font-style: italic;
  color: #666666; }

.oddeven tr:nth-child(even) {
  background-color: #eeeeee; }

.applications .spacer td {
  border: none !important;
  line-height: 5px;
}
