table.google-visualization-orgchart-table {
  font-size: 1em;
  tr {
    border-bottom: none !important;
    td.google-visualization-orgchart-linenode {
      padding: 0;
      font-size: 0.1em;
    }
    td.google-visualization-orgchart-node {
        border-width: 1px;
    }
    td.google-visualization-orgchart-nodesel {
        background-color: rgb(237, 247, 255);
    } } }