/* Job Applications module */

.job_applications {
  .position {
    @include border-radius;
    background: #eeeeee;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    table {
      margin: 0; } }

  h3.applicant_name {
    color: $samfundet; }

  .applicant_facebook {
     display: inline-block;
     position: relative;
     top:-20px; 
     padding-left:19px;
     background:no-repeat url('/assets/icons/facebook.png'); }

  /*.subtitle {
    font-size: 1.4em; }*/

  .motivation{
    @include border-radius;
    padding: 10px;
    background: #EEEEEE;
    font-size: 1.3em; }

  table#jobs {
    caption {
      font-size: 1.1em;
      border-bottom: 4px double $border_dark;
      text-align: center;
      padding: 6px 0; }
    thead {
      border-bottom: 2px solid $border_dark;
      th {
        padding: 4px 0;
        text-align: left;
        font-weight: bold; } } }
  #jobs-accordion {
    h4 {
      padding: 5px;
      color: white;
      background-color: $samfundet;
      font-size: 1.3em;
      &.ui-state-active {
        font-weight: bold; }
      a {
        color: white;
        padding-top: 8px;
        padding-bottom: 8px; } } } }

table {
  tr.current {
    font-weight: bold; } }
