/* Jobs Module */

.jobs {
  ul.jobs {
    list-style-type: none;
    padding: 0; }
  .top {
    border-bottom: 2px solid #cccccc;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    color: #444444;
    div {
      font-size: 1.2em;
      margin: 0 0 15px 0;
      .tooltip {
        font-size: 1em;
      } }
    a {
      background: #eeeeee;
      color: #111111;
      padding: 5px 10px;
      margin: 0 3px;
      font-size: 0.9em;
      @include border-radius(100px);
      &:hover {
        background: #dddddd; }
      &.no-bg, &.no-bg:hover {
        background: none; } }
    #positions-info {
      @include border-radius;
      background: #eeeeee;
      padding: 20px;
      height: 40px;
      font-size: 1.4em;
      overflow: hidden; } } }

.jobs #job-application {
  background: #eee;
  padding: 20px 20px 5px 20px;
  @include box-shadow(20px, #ddd);
  border: 1px solid #ddd;
  h3 {
    font-size: 2em;
    margin: 0 0 10px 0;
  }
  #apply-description {
    width: 30%; 
    float: left;
    p {
      margin: 0 10px 10px 0;
      padding: 10px;
      background: #ddd; 
    }
  }
  textarea {
    width: 620px;
    height: 192px;
    padding: 5px;
    border: 5px solid #ccc;
    font-size: 12px;
  }
  textarea:focus {
    border-color: #999;
  }
}




/* Admin */

.jobs {
  #job-search-query {
    float: right;
    font-weight: bold; }
  table#jobs {
    td:last-child {
      white-space: nowrap;
      font-size: 0.9em; }
    h5 {
      font-size: 1em; } } }
