/* Site module (home etc) */

// Big promo box (deprecated)
.site {
  .featured {
    position: relative;
    border-top: none;
    h3 {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      max-width: 498px;
      padding: 10px;
      font-size: 2.5em;
      color: white;
      font-weight: normal;
      @include border-radius; }
    img {
      margin-bottom: 5px;
      @include border-radius; }
    a {
      color: #666666; }
    ul {
      width: 960px;
      position: relative;
      li {
        display: inline;
        a {
          font-size: 1em;
          padding: 3px 10px;
          @include border-radius;
          &:hover {
            background-color: #eeeeee; } }
        &.active a {
          margin: 0 10px 0 0;
          background-color: #eeeeee;
          color: #222222; } } } }
  #all-events {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.2em; } }

// Upcoming events lists (top three boxes)
.site {
  #upcoming-events {
    .event {
      margin-top: 10px;
      border-top: 2px solid;
      border-color: #dddddd; }
    .today {
      border-color: $samfundet; }
    h3 {
      font-size: 1.3em;
      text-transform: uppercase;
      margin: 0;
      padding: 5px 0;
      .datetime {
        color: #999999; } }
    ul {
      border-bottom: 2px solid;
      border-color: $border_light;
      padding: 0 0 5px 0;
      li {
        padding: 0 0 5px 0;
        a {
          .datetime {
            color: #333333;
            padding: 0 5px 0 0; }
          .place {
            color: #cccccc;
            float: right; } } } } } }

// News boxes
.site {
  #articles {
    p {
      font-size: 1.2em;
      color: #666666;
      margin: 0 0 5px 0; }
    h3 {
      color: #666666;
      font-weight: normal;
      font-size: 1em;
      text-transform: uppercase;
      padding: 5px 0 5px 0;
      margin: 0;
      line-height: 1em;
      span {
        margin: 0 1px -1px 0; } }
    h4 {
      padding: 0 0 5px 0;
      margin: 0;
      font-size: 1.8em;
      max-height: 45px;
      overflow: hidden;
      line-height: 1.3; }
    p.more {
      text-transform: uppercase;
      font-size: 1em;
      color: #999999;
      a {
        font-weight: bold; } }
    img.photo {
      @include border-radius; }
    .col.large {
      h4 {
        font-size: 3em; } } }
  .article {
    border-top: 2px solid; }
  .category_default {
    border-color: $category_default; }
  .category_concert {
    border-color: $category_concert; }
  .category_culture {
    border-color: $category_culture; }
  .category_meeting {
    border-color: $category_meeting; } }

// Site activity
.site {
  #external ul {
    margin: 0 0 40px 0; }
  #external li {
    display: inline;
    a {
      position: relative;
      padding: 1px 0 0 20px;
      margin: 0 20px 0 0;
      color: $light;
      text-transform: uppercase;
      img {
        position: absolute;
        top: 0;
        left: 0; } } }
  #recent-activity, #additional-activity {
    ul {
      padding: 5px 0;
      margin-bottom: 10px;
      border-top: 2px solid;
      border-top-color: $samfundet;
      border-bottom: 2px solid;
      border-bottom-color: $border_light;
      li {
        padding: 2px 0; }
      .lh {
        text-transform: uppercase;
        font-weight: bold;
        color: black; } } }
  #additional-activity {
    ul {
      margin-bottom: 40px; } }
  #partners {
    ul {
      text-align: center; }
    li {
      display: inline;
      padding: 0 25px; } } }

.special {
  background-color: $category_meeting * 4.5; }
