= content_for :admissions_frontpage_highjack do
  = link_to 'https://www.samfundet.no/verv/967-webutvikler', class: 'admissions-frontpage-highjack' do
    = t('site.index.admissions_frontpage_highjack').html_safe
