- if not logged_in?
  .mailing_list
    = form_tag "//samfundet.us9.list-manage.com/subscribe/post?u=6d2389f1875edb33fb48a3ff2&amp;id=830dfae206", id: "mc-embedded-subscribe-form" do
      .mailing_list_fields
        = email_field_tag "EMAIL", nil, placeholder: "E-post"
        = submit_tag t("site.index.recieve_message")
