- require 'csv'

= CSV.generate(headers: true) do |csv|
  - csv << [t('interviews.applicant_name'),
            t('interviews.applicant_phone_number'),
            t('interviews.applicant_email_address'),
            t('interviews.applicant_campus'),
            t('interviews.job'),
            t('interviews.interview_time'),
            t('interviews.location'),
            t('interviews.interview_status'),
            t('interviews.comment'),
            t('interviews.latest_log_entry')]

  - @job_application_groupings.each do |job_applications|
    - job_applications.each do |job_application|
      - csv_array = [job_application.applicant.full_name,
      job_application.applicant.phone,
      job_application.applicant.email,
      job_application.applicant.campus,
      job_application.title,
      job_application.find_or_create_interview.time,
      job_application.find_or_create_interview.location,
      job_application.find_or_create_interview.acceptance_status]

      - unless job_application.find_or_create_interview.comment.nil?
        - csv_array += [job_application.find_or_create_interview.comment.squish]  # Squish to remove tabs and newlines
      - if job_application.last_log_entry
        - csv_array += [job_application.last_log_entry.log]
      - csv << csv_array


- end.html_safe  # Turn quot into "
