#content.images, .modal {
    .tag-list {
        margin: 10px;
        li {
            display: inline;
            margin: 5px;
        }
    }

    .existing-results, .ajax-results {
        @include span-columns(12);

        .image-list {
            @include span-columns(12);

            .image {
                @include span-columns(12);
                @include media($not-mobile) {
                    @include span-columns(6);
                    @include omega(2n);
                }

                .image-archive-image {
                    @include autoscale-picture(250px);
                    margin-bottom: 20px;
                }
            }
        }
    }

    .image-actions {
        @include span-columns(12);
    }
}

#content.images.show {
    text-align: center;

    img {
        max-width: 100%;
    }

    a {
        color: $samfundet-red;
        font-weight: bold;
        padding: 0px 30px;
    }

    .copy-image-url-link {
        margin: 10px;
        padding: 4px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset;
        border: 1px solid #CCC;
    }
}
