%h2
  = t("admissions.admin_applet.title")

- if permitted_to?(:manage, :admissions)
  = link_to t('admissions.create_admission'), new_admission_path

- @admissions.each do |admission|
  %h3
    = admission.title
  = link_to t('admissions.administer_my_group'), admissions_admin_admission_path(admission)
