/* Colors */

// Normal color scheme
$samfundet: #a03033;
$samfundet_development: #448d46;
$sub_nav: #eeeeee;
$link: #a03033;
$background: white;
$text: #333333;
$headers: #333333;
$light: #666666;
$border_dark: #cccccc;
$border_light: #eeeeee;

// Dark color scheme
//!samfundet = #333
//!sub_nav = #111
//!link = #fff
//!background = #222
//!text = #999
//!headers = #fff
//!light = #666
//!border_dark = #333
//!border_light = #555

// Categories
$category_concert: #512d44;
$category_culture: #ced649;
$category_meeting: #a03033;
$category_default: #111111;

// Jobs
$officer_position: #eeeeee;
$non_officer_position: #eeeeee;
