.admissions.index {
  .section {
    @include span-columns(12);
  }

  #promo {
    text-align: center;
    margin-bottom: 2em;

    @include media($tablet-desktop) {
      @include shift(2);
      @include span-columns(8);
      @include omega;
    }
  }

  #groups-with-jobs {
    background-color: $samfundet-light-grey;

    ul {
      padding-left: 0;
      text-align: center;
      margin-bottom: 40px;
      line-height: 0.7;
      font-size: 0.9em;

      @include media($tablet-desktop) { 
        font-size: 1.1em;
        line-height: 1;
      }

      li {
        display: inline;

        a {
          display: inline-block;
          padding: 6px 7px;

          &:hover {
            background: #eeeeee;
          }
        }
      }
    }
  }

  #group-types {
    .header {
      @include span-columns(12);
      background-color: $samfundet-light-grey;
      margin: 10px 0;

      @include media($not-mobile) {
        background-color: initial;
      }

      h3 {
        margin: 10px 0;
      }
    }
    .jobs {
      @include span-columns(12);

      margin-bottom: 1em;

      .job {
        @include span-columns(12);

        margin-bottom: 20px;
        padding: 0 10px;

        .title {
          @include media($mobile) {
            float: left;
            text-transform: uppercase;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 70%;

            a {
              text-decoration: underline;
              color: black;
            }
          }

          @include media($tablet-portrait) {
            @include span-columns(3);
          }

          @include media($tablet-desktop) {
            @include span-columns(4);
          }
        }

        .group {
          @include media($mobile) {
            float: right;
          }

          @include media($tablet-portrait) {
            @include span-columns(3);
          }

          @include media($tablet-desktop) {
            @include span-columns(2);
          }
        }

        .teaser {
          @include media($mobile) {
            padding-top: 5px;
            clear: both;
          }
          @include media($not-mobile) {
            @include span-columns(6);
          }
        }
      }
    }
  }
}
