#language {
  // width: $grid_width;
  margin: 0 auto;
  ul.dropdown {
    float: right;
    list-style: none;
    background: rgba(0,0,0, 0.25);    
    padding: 0;
    height: 22px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    li {
      a {
        display: block;
    	  width: 22px;
    	  height: 16px;
        margin: 3px;
    	  text-indent: -99999px;
      }
      a.norwegian {
        background: url(/assets/icons/no.png) bottom;
      }
      a.english {
        background: url(/assets/icons/gb.png) bottom;
      }
      a:hover {
        background-position: 0 0;
      }
    }
  }
}
