/* Layout */

// Width variables
$grid_width: 960px;
$grid_columns: 18;
$grid_col_margin: 30px;
$grid_col_width: ($grid_width - $grid_col_margin * ($grid_columns - 1)) / $grid_columns;
$grid_col_total_width: $grid_col_width + $grid_col_margin;

@mixin col($n: 1) {
  float: left;
  @include span($n); }

@mixin span($n: 1) {
  width: $n * $grid_col_width + ($n - 1) * $grid_col_margin;
  @if $n == $grid_columns {
    margin-right: 0; }
  @else {
    margin-right: $grid_col_margin; } }

@mixin last {
  margin-right: 0;
  float: right; }

.section {
  @include span(18);
  margin: 0 auto;
  clear: both; }

.row {
  @include col(18);
  @include clearfix; }

.col {
  margin: 0 30px 40px 0; }

// whole width
.max {
  @include col(18); }

// Two-thirds of width
.large {
  @include col(12); }

// Half of width
.medium {
  @include col(9); }

// One-third of width
.small {
  @include col(6); }

// One-fourth of width
.min {
  width: 230px;
  float: left;
  margin-right: 12px; }

.last {
  @include last; }

.hidden {
  visibility: hidden;
  display: none;
}
