/* Mixins */

// Replace text of element with image
// remember to set width and height of the element
@mixin replace-text($img, $x: 50%, $y: 50%) {
  text-indent: -9999em;
  overflow: hidden;
  background-image: url(#{$img});
  background-repeat: no-repeat;
  background-position: $x $y; }

// Text shadow
@mixin text-shadow($color: black) {
  text-shadow: 1px 1px #{$color}; }

@mixin text-shadow-dark($alpha: 0.5) {
  text-shadow: 0 -1px 1px rgba(0, 0, 0, #{$alpha}); }

@mixin text-shadow-light($alpha: 0.5) {
  text-shadow: 0 -1px 1px rgba(255, 255, 255, #{$alpha}); }

// Clear all after certain element
@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html & {
    height: 1px; } }

// Rounded corners for elements
@mixin border-radius($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius; }

// Box shadow
@mixin box-shadow($spread: 10px, $color: black) {
  box-shadow: 0 0 $spread $color;
  -moz-box-shadow: 0 0 $spread $color;
  -webkit-box-shadow: 0 0 $spread $color; }

@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
}

@mixin opacity($floatValue) {
  opacity: $floatValue; // Standard
  filter: alpha(opacity=#{$floatValue * 100}); // for IE5-7
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$floatValue * 100})"; // for IE8
  -moz-opacity: $floatValue; // Old FF
  -khtml-opacity: $floatValue; // Old Safari
}