/* Modal Popup Boxes */

.contentWrap {
  height: 450px;
  overflow-y: auto; }

.modal-dialog {
  @include border-radius;
  @include box-shadow(30px);
  display: none;
  //background-image: url(../images/jquery-tools/overlay/white.png)
  background-color: white;
  padding: 15px;
  //border: 3px solid #333
  font-size: 11px;
  width: 700px;
  div.close {
    background-image: url(images/overlay/close.png);
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    height: 35px;
    width: 35px; } }
