#promo {
  background: #222222 url("images/promo-top.png") top left repeat-x;
  margin: -20px 0 30px 0;
  padding-top: 30px;
  .wrap {
    background: url("images/promo-bottom.png") bottom left repeat-x;
    padding-bottom: 50px; }
  .content {
    width: 950px;
    margin: 0 auto;
    padding: 0 0 40px 0;
    h3 {
      float: left;
      color: white;
      font-size: 1.4em;
      text-transform: uppercase;
      width: 220px;
      text-align: right; }
    p {
      float: right;
      color: #999999;
      width: 690px;
      padding: 0px 20px 0 0;
      @include text-shadow(black); }
    .images {
      height: 130px;
      img {
        float: left;
        margin-right: 10px;
        background: #111111;
        padding: 5px; }
      img.last {
        margin: 0; }
      a:hover img {
        background: #333333; } }
    img.big {
      width: 940px;
      padding: 5px;
      background: #111111;
      margin: 0 0 -40px 0; } } }

#promoshelf {
  clear: both;
  overflow: hidden;
  background: url("images/promo-shelf.png") center center no-repeat;
  height: 160px;
  padding: 40px 0 0 0;
  margin: -60px auto -150px auto; }
