.admissions {
  * {
    margin: 0;
    padding: 0; }

  body {
    font-size: 62.5%; }

  fieldset, img {
    border: 0; }

  a {
    text-decoration: none; }

  a img {
    border: 0; }

  address,caption,cite,code,dfn,strong,th,var {
    font-style: normal;
    font-weight: normal; }

  caption,th {
    text-align: left; }

  h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal; }

  q:before,q:after {
    content: ""; }

  abbr,acronym {
    border: 0; }

  table {
    border-collapse: collapse;
    border-spacing: 0; } }